<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jiema.communtiy.mapper.QuestionExtMapper">
    <resultMap id="BaseResultMap" type="io.github.jiema.communtiy.model.Question">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="PARENT_ID" jdbcType="BIGINT" property="parentId"/>
        <result column="TYPE" jdbcType="INTEGER" property="type"/>
        <result column="COMMENTATOR" jdbcType="VARCHAR" property="commentator"/>
        <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified"/>
        <result column="LIKE_COUNT" jdbcType="BIGINT" property="likeCount"/>
        <result column="CONTENT" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <update id="incView" parameterType="map">
        update QUESTION
        set
        VIEW_COUNT = VIEW_COUNT+1
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="incCommentCount" parameterType="map">
        update QUESTION
        set
        COMMENT_COUNT = COMMENT_COUNT+1
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectRelated" parameterType="io.github.jiema.communtiy.model.Question" resultMap="BaseResultMap">
        select * from QUESTION where id !=#{id} and tag regexp #{tag}
    </select>
    <select id="countBySearch" parameterType="io.github.jiema.communtiy.dto.QuestionQueryDTO" resultType="java.lang.Integer">
        select count(*) from QUESTION
        <where>
            <if test="search !=null">
                and title regexp #{search}
            </if>
        </where>
    </select>
    <select id="selectBySearch" parameterType="io.github.jiema.communtiy.dto.QuestionQueryDTO" resultMap="BaseResultMap">
        select * from QUESTION
        <where>
            <if test="search !=null">
                and title regexp #{search}
            </if>
        </where>
        order  by gmt_create desc
        limit #{page},#{size}
    </select>
</mapper>